<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>北京保洁公司【易杰雨露】提供地毯地面清洗|开荒保洁|擦玻璃|石材翻新|外墙清洗|地板打蜡保洁价格及服务</title>

</head>

<body>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1></h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="conpart " style="background:#fafafa url() repeat top center scroll !important;">
    <div class="container">
      <div class="text-center">

        <div class="parttit">
          <h2 style="color: #333333">我们的服务
            <span style="color: #c81b23">/Our service</span>
          </h2>

        </div>
      </div>
      <div class="productlist">
        <ul>
          <div class="row">

            <li class="col-md-3 col-xs-6">
              <div class="productlistpart">
                <a href="">
                  <div class="productimg">
                    <img src="images/kaihuangbaojie.jpg" class="attachment-product-thumb size-product-thumb wp-post-image" alt="" 0="" width="270"
                      height="200"> </div>
                  <div class="producttit" style="color: #666666">
                    开荒保洁 </div>
                </a>
              </div>
            </li>

            <li class="col-md-3 col-xs-6">
              <div class="productlistpart">
                <a href="">
                  <div class="productimg">
                    <img src="images/shicaiyanghu.jpg" class="attachment-product-thumb size-product-thumb wp-post-image" alt="" 0="" width="270"
                      height="200"> </div>
                  <div class="producttit" style="color: #666666">
                    石材养护 </div>
                </a>
              </div>
            </li>

            <li class="col-md-3 col-xs-6">
              <div class="productlistpart">
                <a href="">
                  <div class="productimg">
                    <img src="images/dibandala.jpg" class="attachment-product-thumb size-product-thumb wp-post-image" alt="" 0="" width="270"
                      height="200"> </div>
                  <div class="producttit" style="color: #666666">
                    地板打蜡 </div>
                </a>
              </div>
            </li>

            <li class="col-md-3 col-xs-6">
              <div class="productlistpart">
                <a href="">
                  <div class="productimg">
                    <img src="images/service4.jpg" class="attachment-product-thumb size-product-thumb wp-post-image" alt="" 0="" width="270"
                      height="200"> </div>
                  <div class="producttit" style="color: #666666">
                    地毯清洗 </div>
                </a>
              </div>
            </li>

          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="conpart " style="background: url() repeat top center scroll !important;">
    <div class="container">
      <div class="text-center">
        <div class="parttit">
          <h2 style="color: #333333">我们的案例
            <span style="color: #c81b23">/our case</span>
          </h2>
        </div>
      </div>
      <div class="indexcaselist">
        <div class="indexcaselist_top">

          <div class="indexcasepart pull-left" style="background:#fafafa">
            <div class="indexcase_text pull-left">
              <h3 style="color: #333333">
                西单大悦城项目 </h3>
              <p style="color: #666666">
                2017年5月14日，国家主席习近平在人民大会堂举行宴会并在国家大剧院... </p>
              <a href="" style="color: #c81b23">查看详情&gt;</a>
            </div>
            <div class="indexcase_img pull-right">
              <img src="images/case1.jpg" class="attachment-case-thumb size-case-thumb wp-post-image" alt="" 0="" sizes="(max-width: 300px) 100vw, 300px"
                width="300" height="300"> </div>
            <div class="clearfix"></div>
          </div>

          <div class="indexcasepart pull-left" style="background:#fafafa">
            <div class="indexcase_text pull-left">
              <h3 style="color: #333333">
                方太集团 </h3>
              <p style="color: #666666">
                方太股份有限公司位于浙江慈溪市龙泉尊龙，主营 橱柜 等。公司秉承 "顾客第一，勇攀... </p>
              <a href="" style="color: #c81b23">查看详情&gt;</a>
            </div>
            <div class="indexcase_img pull-right">
              <img src="images/case2.png" class="attachment-case-thumb size-case-thumb wp-post-image" alt="" 0="" sizes="(max-width: 300px) 100vw, 300px"
                width="300" height="300"> </div>
            <div class="clearfix"></div>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="indexcaselist_bottom">

          <div class="indexcasepart pull-left" style="background:#fafafa">

            <div class="indexcase_img pull-left">
              <img src="images/case3.png" class="attachment-case-thumb size-case-thumb wp-post-image" alt="" 0="" sizes="(max-width: 300px) 100vw, 300px"
                width="300" height="300"> </div>
            <div class="indexcase_text pull-right">
              <h3 style="color: #333333">
                国家大剧院 </h3>
              <p style="color: #666666">
                中国国家大剧院位于北京市中心天安门广场西侧，中国国家表演艺术的最高殿堂，中外文化交... </p>
              <a href="" style="color: #c81b23">查看详情&gt;</a>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="indexcasepart pull-left" style="background:#fafafa">

            <div class="indexcase_img pull-left">
              <img src="images/case4.png" class="attachment-case-thumb size-case-thumb wp-post-image" alt="" 0="" sizes="(max-width: 300px) 100vw, 300px"
                width="300" height="300"> </div>
            <div class="indexcase_text pull-right">
              <h3 style="color: #333333">
                中国国际广播电台 </h3>
              <p style="color: #666666">
                环球购物(GHS, Global Home Shopping)，是2009年由国家新闻出版广电总局... </p>
              <a href="" style="color: #c81b23">查看详情&gt;</a>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="conpart " style="background:#fafafa url() repeat top center scroll !important;">
    <div class="container">
      <div class="text-center">
        <div class="parttit">
          <h2 style="color: #333333">行业新闻
            <span style="color: #c81b23">/NEWS</span>
          </h2>
        </div>
      </div>
      <div class="indexnewslist">
        <div class="row">

          <div class="col-md-6">
            <div class="indexnewspart" style="background: #ffffff">
              <a href="">
                <div class="indexnewspart_img pull-left">
                  <img src="images/news2.jpg" class="attachment-news-thumb size-news-thumb wp-post-image" alt="" 0="" width="170" height="140"> </div>
                <div class="indexnewspart_text pull-right">
                  <h3 style="color: #333333">
                    酒店开荒保洁各部位清洁技巧 </h3>
                  <p class="indexnewstag" style="color: #999999">
                    <span>
                      发布时间：2017-08-07 </span>
                    <span>
                      浏览次数：284次 </span>
                  </p>
                  <p class="indexnewszhaiyao" style="color: #666666">
                    1.房间木地板清洁：先把地面垃圾扫干净， 然后用清洁液对局部污迹处理（包括地角线）… </p>
                </div>
              </a>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="indexnewspart" style="background: #ffffff">
              <a href="">
                <div class="indexnewspart_img pull-left">
                  <img src="images/news2.jpg" class="attachment-news-thumb size-news-thumb wp-post-image" alt="" 0="" width="170" height="140"> </div>
                <div class="indexnewspart_text pull-right">
                  <h3 style="color: #333333">
                    酒店开荒清洁的验收标准 </h3>
                  <p class="indexnewstag" style="color: #999999">
                    <span>
                      发布时间：2017-08-07 </span>
                    <span>
                      浏览次数：227次 </span>
                  </p>
                  <p class="indexnewszhaiyao" style="color: #666666">
                    1、门:门框、门上无污点，目视、手摸无尘、无灰，门框线条明确、显本色，门把手洁净无…
                  </p>
                </div>
              </a>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="indexnewspart" style="background: #ffffff">
              <a href="">
                <div class="indexnewspart_img pull-left">
                  <img src="images/news2.jpg" class="attachment-news-thumb size-news-thumb wp-post-image" alt="" 0="" width="170" height="140"> </div>
                <div class="indexnewspart_text pull-right">
                  <h3 style="color: #333333">
                    酒店在进行开荒保洁之前的准备工作 </h3>
                  <p class="indexnewstag" style="color: #999999">
                    <span>
                      发布时间：2017-08-07 </span>
                    <span>
                      浏览次数：162次 </span>
                  </p>
                  <p class="indexnewszhaiyao" style="color: #666666">
                    1.开荒前，人员安排到位；并培训懂得各类清洁工具及清洁剂的使用、安全用电等相关知识… </p>
                </div>
              </a>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="indexnewspart" style="background: #ffffff">
              <a href="">
                <div class="indexnewspart_img pull-left">
                  <img src="images/news2.jpg" class="attachment-news-thumb size-news-thumb wp-post-image" alt="" 0="" width="170" height="140"> </div>
                <div class="indexnewspart_text pull-right">
                  <h3 style="color: #333333">
                    地毯清洗的目的和一般步骤 </h3>
                  <p class="indexnewstag" style="color: #999999">
                    <span>
                      发布时间：2017-08-07 </span>
                    <span>
                      浏览次数：159次 </span>
                  </p>
                  <p class="indexnewszhaiyao" style="color: #666666">
                    清洗地毯的作用及目的：美观、舒适、降低噪音、吸收灰尘。延长使用寿命、保持地毯良好… </p>
                </div>
              </a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="conpart " style="background: url() repeat top center scroll !important;">
    <div class="container">
      <div class="text-center">
        <div class="parttit">
          <h2 style="color: #333333">关于我们
            <span style="color: #c81b23">/about us</span>
          </h2>
        </div>
      </div>
      <div class="indexabout" style="background: #fafafa">
        <div class="indexabout_text pull-left">
          <p style="#666666">
            北京易杰雨露有限公司:中心现已发展管理完善，技术先进，资金雄厚的一流保洁服务中心。我们“以文常会友，北京易杰雨露有限公司自成邻的情怀”，“正德厚生 臻于至善”的核心价值观，“环保与绿色共生，发展和生态协调”的环境观，本着“质量以德为先、服务从心做起”的口号，质量，信誉，争创一流的经营。理念：北京易杰雨露有限公司塑造精品为宗旨。立足北京，面向全国。北京易杰雨露有限公司是北京保洁清洗中服务最完善的保洁之一，主要服务...
            </p>
          <a href="" style="background: #c81b23">
            查看详情
          </a>
        </div>
        <div class="indexabout_img pull-right">
          <img src="images/about_me_bg.jpg">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>